{% extends 'base.html' %}

{% block conteudo %}


 <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <div class="container-fluid">
    <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Tabelas</li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Chamados em aberto</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Serviço</th>
                  <th>Local</th>
                  <th>Empresa</th>
                  <th>Quantidade</th>
                  <th>Data e Hora de início</th>
                  <th>Data e Hora do termino</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                    <th>Serviço</th>
                  <th>Local</th>
                  <th>Empresa</th>
                  <th>Quantidade</th>
                  <th>Data e Hora de início</th>
                  <th>Data e Hora do termino</th>
                </tr>
              </tfoot>
              <tbody>
                <tr>
                    <td>Problemas com a internet</td>
                  <td>rua 6</td>
                  <td>SOLSERV</td>
                  <td>10</td>
                  <td>03/12/2017 13:00</td>
                  <td>03/12/2017 14:00</td>
                </tr>
                <tr>
                    <td>Instalaçõa de software e impressora</td>
                  <td>rua 6</td>
                  <td>SOLSERV</td>
                  <td>10</td>
                  <td>03/12/2017 13:00</td>
                  <td>03/12/2017 14:00</td>
                </tr>
                <tr>
                  <td>Instalaçõa de software e impressora</td>
                  <td>rua 6</td>
                  <td>SOLSERV</td>
                  <td>10</td>
                  <td>03/12/2017 13:00</td>
                  <td>03/12/2017 14:00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Atualizado ontem ás 11:59 PM</div>
      </div>
    </div>
  </div>
</body>


{% endblock %}
